
.container.center-align
  %br
  %br
  .section
    %i.material-icons.large wifi_tethering
    %h3 Login With Twitter
    %p We'll need access to your Twitter account to get started. We use Twitter to pull the data you'll be looking at. Don't worry, we don't post or read anything on your timeline!
    %br
    .row
      %a.btn.light-blue.lighten-1.btn-large.waves-effect{href: '/auth/twitter'} Connect Twitter