
%footer.page-footer
  .container
    .row
      .col.16.s12
        %h5.white-text Sideqik Machine Learning Portal
        %p.grey-text.text-lighten-4 Copright © Sideqik 2017. All Rights Reserved. Data may not be used without permission.