
.container
  %br
  %br
  .section.center-align
    = render 'shared/whisper'
    %h3 Project Whisper
    %p Bringing a human touch to big data.
    %a.btn.green.darken-2.waves-effect.btn-large{href: '/whisper/tweets'} Work on Project
  %br
.card-panel.purple.darken-2
  .container.center-align
    .section.white-text
      %h4 What do I do for this project?
      %br
      %p
        %b Categorize the text by clicking on a category, then a subcategory.  
        %br
        %br
        When you're done, click the "STOP" button!