.container
  %br
  %br
  .section.center-align
    %h4= @tweet.text
  %br
  .divider
  %br
  .section.center-align
    %h5 Categories
    .row.categories-row
      - @categories.each do |category|
        .col.s4
 