
.container
  %br
  %h3
    %i.medium.material-icons track_changes
    Welcome to Sideqik Machine Learning.
  %p This is the home for Sideqik's training of Machine Learning algorithms for use with the AWS-ML service.
  %br
  .row
    .col.s5
      %br
      %img.responsive-img{src: image_path('ml-about.jpg')}
    .col.s7  
      .section
        %h5 What is Machine Learning?
        %p Machine learning is a type of technology that allows computers to make decisions that would typically be hard to solve programmatically. For example, machine learning is currently used to analyze patterns of banking that resemble fraud and allow banks to alert you of it.
      .section
        %h5 Why does Sideqik utilize it?
        %p We have a lot of difficult tasks (technically speaking) to accomplish here at Sideqik. We have to predict large amounts of data about our influencers, from the languages they speak to the topics they talk about. Machine learning helps us create fast, reliable models for analyzing data that don't break the bank.
      .section
        %h5 How can I help?
        %p Machine learning is only as good as the data it's given to learn from. Here in the Sideqik ML portal, you can help us categorize tweets for use in our machine learning models. The more data we have, the better we can analyze influencers.