.container.center-align
  %br
  %br
  .section
    %img.responsive-img{src: asset_path('ml-logo-dark.svg'), width: 300}
    %h1 Sideqik Machine Learning
    %p Welcome to Sideqik's machine learning portal.
    %br
    .row
      %a.btn.green.darken-2.btn-large.waves-effect{href: '/projects'} Join a Project
      %a.btn.blue-grey.lighten-3.btn-large.waves-effect{href: '/about'} Learn More About SML
