
.container
  %br
  %br
  .section.center-align
    = render 'shared/litmus'
    %h3 Project Litmus
    %p Bringing a human touch to big data.
    %button.btn.green.darken-2.waves-effect.btn-large Join Litmus
  %br
.card-panel.light-green.darken-1
  .container.center-align
    .section.white-text
      %h4 What is Project Litmus?
      %br
      %p
        %b Litmus is a project that enables Sideqik to analyze the sentiment of posts from influencers across the platform. 
        %br
        %br
        Litmus provides key insights into how influencers view brands, how influencers treat other influencers, and whether or not influencers are generally good ambassadors for brands in the first place. By analyzing their content, we can figure out how they act online and their standard tone.
        %br
        %br
        Litmus' secondary purpose if for research and analytics purposes. This machine learning dataset will allow us to compare how happy/frustrated certain influencers are in different interest areas, then provide reports to the community.
.container
  .section.center-align
    %h4 What requirements must I meet to work on Litmus?
    %br
    %p
      %b You need to be fluent in American English to work on Project Litmus.
      %br
      %br
      Litmus' algorithm will mostly be focused on analyzing posts in American English, and occaisonally British English. You need to be able to detect sarcasm and true intent of posts when evaluating them.
      %br
      %br
      You must have a working computer that can run Google Chrome. macOS and Windows 10 are supported.