.container
  %br
  %br
  .section.center-align
    = render 'shared/loader'
    %h3 Project Whisper
    %p Choose a project to work on below.
  .section
    .row
      .col.s4
        .card
          .card-image
            %img{src: image_path('project-litmus.jpg')}
   