.container
  %br
  %br
  .section.center-align
    = render 'shared/loader'
    %h3 Project Whisper
    %p Choose a project to work on below.
  .section
    .row
      .col.s4
        .card
          .card-image
            %img{src: image_path('project-litmus.jpg')}
            %a.btn-floating.halfway-fab.green.darken-2.waves-effect{href: '/tweets'}
              %i.material-icons arrow_forward
          .card-content
            %span.card-title Project Litmus
            %p Project Litmus seeks to predict the overall attitude and disposition of someone based on a sample of the content