
.container
  %br
  %br
  .section.center-align
    = render 'shared/whisper'
    %h3 Project Whisper
    %p Understanding interests, values, and beliefs
    %a.btn.green.darken-2.waves-effect.btn-large{href: '/login/twitter/'} Join Whisper
  %br
.card-panel.purple.darken-4
  .container.center-align
    .section.white-text
      %h4 What is Project Whisper?
      %br
      %p
        %b Whisper is a project that enables Sideqik to determine what a profile talks about. 
        %br
        %br
        The goal of Whisper is to figure out what people are talking about online based on their posts. While many services currently do keyword extraction, simple bucket aggregation is relatively uncommon because of its need
        for large quantities of data to be useful. By only selecting one category per post, we're able to get clearer results from our data.
        %br
        %br
        Whisper' secondary purpose if for research and analytics purposes. This machine learning dataset will allow us to compare what topics are talked about most within certain demographics and how it varies based on influence.
.container
  .section.center-align
    %h4 What requirements must I meet to work on Whisper?
    %br
    %p
      %b You need to be fluent in American English to work on Project Whisper.
      %br
      %br
      Whisper's algorithm will mostly be focused on analyzing posts in American English, and occaisonally British English. You need to have a general knowledge of internet culture and interests as well, to categorize.
      %br
      %br
      You must have a working computer that can run Google Chrome. macOS and Windows 10 are supported.